@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;0,600;0,700;0,800;1,200;1,400&family=PT+Sans:ital@0;1&family=Ysabeau+SC:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.reservas .formulario form textarea, .reservas .formulario form input {
  width: 80%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin: 0.6rem 0;
  font-size: 1.2rem;
  outline: none;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f0eee6;
  color: #363633;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
  min-height: 100%;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.titulo-seccion {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #c0b27e;
  color: #f8f8f6;
  text-align: center;
  padding: 0.9rem 0;
}
@media screen and (max-width: 1126px) {
  .titulo-seccion {
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .titulo-seccion {
    padding: 0.4rem 0;
    font-size: 1.3rem;
  }
}

.header-container {
  background-color: #f0eee6;
  position: sticky;
  top: 0;
  padding: 0.5rem 5rem;
  z-index: 100;
}
@media screen and (max-width: 1126px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: inherit;
    padding: 1rem 2.5rem;
  }
}
.header-container .header-desk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: inherit;
}
@media screen and (max-width: 1126px) {
  .header-container .header-desk {
    display: block;
  }
}
.header-container .header-desk .logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: inherit;
  font-family: "Ysabeau SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.7rem;
  text-align: center;
  color: #363633;
}
.header-container .header-desk .logo h1 {
  font-size: 1.7rem;
}
@media screen and (max-width: 768px) {
  .header-container .header-desk .logo {
    font-size: 1.1rem;
  }
}
.header-container .header-desk .logo img {
  width: 13rem;
}
@media screen and (max-width: 768px) {
  .header-container .header-desk .logo img {
    width: 9rem;
  }
}
@media screen and (max-width: 1126px) {
  .header-container .header-desk nav {
    width: 100%;
  }
}
.header-container .header-desk nav .menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: inherit;
  flex-wrap: inherit;
}
.header-container .header-desk nav .menu-header li a {
  text-decoration: none;
  color: #363633;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.6rem;
}
.header-container .header-desk nav .menu-header li a:hover {
  color: #5c754e;
}
.header-container .header-desk nav .menu-header li .btn-reservas {
  color: #f0eee6;
  background-color: #5c754e;
  padding: 8px 16px;
  border-radius: 4px;
}
.header-container .header-desk nav .menu-header li .btn-reservas:hover {
  color: #f0eee6;
  background-color: #363633;
}
.header-container .header-desk nav .menu-header li:hover {
  transform: scale(1.05);
  transition: 40ms;
}
@media screen and (max-width: 1126px) {
  .header-container .header-desk nav .menu-header li {
    display: none;
  }
}

@media screen and (max-width: 1126px) {
  .menu-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: inherit;
    flex-wrap: inherit;
  }
  .menu-btn span {
    width: 3rem;
    height: 3px;
    background-color: #363633;
  }
}

#side-menu {
  display: none;
}
#side-menu .logo {
  font-family: "Ysabeau SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #363633;
}
#side-menu .logo h1 {
  font-size: 0.5rem;
}
@media screen and (max-width: 768px) {
  #side-menu .logo {
    font-size: 1.1rem;
  }
}
#side-menu .logo img {
  width: 14rem;
}
@media screen and (max-width: 768px) {
  #side-menu .logo img {
    width: 9rem;
  }
}
@media screen and (max-width: 1126px) {
  #side-menu {
    width: 100%;
    height: 100%;
    background-color: #f0eee6;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  #side-menu:target {
    display: block;
    z-index: 50;
  }
  #side-menu #header-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: inherit;
    padding: 1rem 2.5rem 0 2.5rem;
  }
  #side-menu ul {
    list-style: none;
    margin: 0;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    flex-wrap: inherit;
  }
  #side-menu ul li {
    margin: 1rem 0;
  }
  #side-menu ul li a {
    color: #363633;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 40ms;
  }
  #side-menu ul li:hover {
    transform: scale(1.05);
    color: #5c754e;
  }
}
@media screen and (max-width: 1126px) and (max-width: 768px) {
  #side-menu ul li:hover {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1126px) {
  #side-menu ul .btn-reservas {
    color: #f0eee6;
    background-color: #5c754e;
    padding: 8px 16px;
    border-radius: 4px;
    transition: 40ms;
  }
  #side-menu ul .btn-reservas:hover {
    color: #f0eee6;
    background-color: #363633;
  }
}

#parallax-image {
  background-image: url(/assets/img/bg-image.jpg);
  height: 40rem;
  margin-bottom: 5rem;
  background-attachment: fixed;
  background-position: 65% 35%;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax-image p {
  font-family: "Barlow", sans-serif;
  color: #f8f8f6;
  text-shadow: 1px 1px 1px #363633;
  font-size: 2.5rem;
  font-style: italic;
}
@media screen and (max-width: 1126px) {
  #parallax-image p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  #parallax-image p {
    font-size: 1.5rem;
  }
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1126px) {
  .texto-home-hab-act {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .texto-home-hab-act {
    font-size: 0.9rem;
  }
}

.carousel-item img {
  max-height: 400px;
  width: auto;
}

#parallax-image2 {
  background-image: linear-gradient(to bottom, rgba(111, 146, 118, 0.274), rgba(73, 100, 79, 0.384)), url("/assets/img/image-bg2.jpg");
  height: 20rem;
  margin-bottom: 5rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax-image2 p {
  font-family: "Barlow", sans-serif;
  color: #f8f8f6;
  text-shadow: 1px 1px 1px #363633;
  font-size: 2rem;
  font-style: italic;
}

.lander-page-2bg {
  margin: 2rem 0;
}

.card-body {
  text-align: start;
}

.habitaciones img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actividades article {
  margin: 1rem 2.5rem;
  border: 1px solid #363633;
  border-radius: 4px;
}
@media screen and (max-width: 1126px) {
  .actividades article {
    margin: 1.5rem 13rem;
  }
}
@media screen and (max-width: 768px) {
  .actividades article {
    margin: 1.5rem 2rem;
  }
}
.actividades article .subtitulo-actividades {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #363633;
  color: #f0eee6;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.9rem 0;
}
@media screen and (max-width: 1126px) {
  .actividades article .subtitulo-actividades {
    font-size: 1, 3rem;
  }
}
@media screen and (max-width: 768px) {
  .actividades article .subtitulo-actividades {
    font-size: 1rem;
  }
}
.actividades article .card-actividad {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: center;
  flex-wrap: inherit;
  font-size: 1.25rem;
}
@media screen and (max-width: 1126px) {
  .actividades article .card-actividad {
    flex-direction: column;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 768px) {
  .actividades article .card-actividad {
    font-size: 0.8rem;
  }
}
.actividades article .card-actividad img {
  width: 20%;
  object-fit: cover;
}
@media screen and (max-width: 1126px) {
  .actividades article .card-actividad img {
    width: 100%;
  }
}
.actividades article .card-actividad p {
  margin: 1.5rem;
  text-align: start;
}
@media screen and (max-width: 1126px) {
  .actividades article .card-actividad p {
    margin: 0.5rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 1126px) and (max-width: 768px) {
  .actividades article .card-actividad p {
    margin: 0.5rem;
  }
}
.actividades article:hover .detalle-actividad {
  transform: scale(1.02);
  transition: 50ms;
}

.galeria .col-lg-4 {
  padding: 2.3rem;
}
.galeria img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.galeria img:hover {
  border: 5px solid #f0eee6;
}

.ubicacion {
  text-align: center;
}
.ubicacion p {
  margin: 0.2rem 8rem 1rem 8rem;
}
@media screen and (max-width: 1126px) {
  .ubicacion p {
    margin: 0.2rem 5rem 1rem 5rem;
  }
}
@media screen and (max-width: 768px) {
  .ubicacion p {
    margin: 0.2rem 2rem 1rem 2rem;
  }
}
.ubicacion iframe {
  width: 700px;
  height: 450px;
}
@media screen and (max-width: 1126px) {
  .ubicacion iframe {
    width: 600px;
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .ubicacion iframe {
    width: 320px;
    height: 200px;
  }
}
.ubicacion #coordenadas {
  font-size: 1rem;
}
@media screen and (max-width: 1126px) {
  .ubicacion #coordenadas {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .ubicacion #coordenadas {
    font-size: 0.55rem;
  }
}
.ubicacion h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1126px) {
  .ubicacion h3 {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .ubicacion h3 {
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 1126px) {
  .ubicacion .distancias {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .ubicacion .distancias {
    font-size: 0.8rem;
  }
}
.ubicacion .detalle-ubicacion {
  font-size: 1.25rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}
@media screen and (max-width: 1126px) {
  .ubicacion .detalle-ubicacion {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 768px) {
  .ubicacion .detalle-ubicacion {
    font-size: 0.9rem;
  }
}

.reservas {
  text-align: left;
  margin: 1.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "info-contacto formulario formulario" "info-contacto formulario formulario" "info-contacto formulario formulario";
  justify-items: stretch;
}
@media screen and (max-width: 1126px) {
  .reservas {
    text-align: center;
    margin: 0;
    display: block;
  }
}
.reservas h3 {
  font-size: 1.4rem;
}
@media screen and (max-width: 1126px) {
  .reservas h3 {
    font-size: 1.2rem;
    margin: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .reservas h3 {
    font-size: 1rem;
    margin: 0.8rem;
  }
}
.reservas .info-contacto {
  grid-area: info-contacto;
}
.reservas .info-contacto li h4 {
  font-size: 1.2rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1126px) {
  .reservas .info-contacto li h4 {
    display: none;
    font-size: 1rem;
  }
}
.reservas .info-contacto p {
  margin: 0.7rem;
}
@media screen and (max-width: 768px) {
  .reservas .info-contacto p {
    margin: 0.6rem;
  }
}
@media screen and (max-width: 1126px) {
  .reservas .info-contacto #horarios {
    display: none;
  }
}
.reservas .info-contacto #icon-whatsapp {
  font-size: 3rem;
}
.reservas .info-contacto #redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: inherit;
  width: 40%;
}
.reservas .info-contacto #redes li {
  padding: 1rem;
}
.reservas .info-contacto #redes a {
  color: #363633;
}
@media screen and (max-width: 1126px) {
  .reservas .info-contacto #redes {
    display: none;
  }
}
.reservas .formulario {
  grid-area: formulario;
}
@media screen and (max-width: 1126px) {
  .reservas .formulario {
    margin: 0 5rem;
  }
}
@media screen and (max-width: 768px) {
  .reservas .formulario {
    margin: 0 1rem;
  }
}
.reservas .formulario form {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: baseline;
  flex-wrap: inherit;
}
@media screen and (max-width: 1126px) {
  .reservas .formulario form label {
    font-size: 1rem;
    margin-bottom: 0.35rem;
  }
}
@media screen and (max-width: 768px) {
  .reservas .formulario form label {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1126px) {
  .reservas .formulario form input {
    font-size: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .reservas .formulario form input {
    padding: 0.6rem;
    margin-bottom: 1rem;
  }
}
.reservas .formulario form input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}
.reservas .formulario form textarea {
  outline: none;
  height: 9rem;
}
@media screen and (max-width: 1126px) {
  .reservas .formulario form textarea {
    font-size: 1rem;
    width: 100%;
    height: 7rem;
  }
}
@media screen and (max-width: 768px) {
  .reservas .formulario form textarea {
    padding: 0.6rem;
    margin-bottom: 1rem;
  }
}
.reservas .formulario form textarea::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}
.reservas .formulario form .reserva {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
  flex-wrap: inherit;
}
@media screen and (max-width: 768px) {
  .reservas .formulario form .reserva {
    flex-direction: column;
  }
}
.reservas .formulario form .reserva label {
  margin: 0 0 0.35rem 0;
  padding: 0 0.4rem 0 0.9rem;
  font-size: 1.15rem;
}
@media screen and (max-width: 1126px) {
  .reservas .formulario form .reserva label {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .reservas .formulario form .reserva label {
    margin: 0;
    padding: 0;
  }
}
.reservas .formulario form .reserva input {
  width: auto;
  margin-top: 0;
}
.reservas .formulario input[type=submit] {
  background-color: #363633;
  color: #f0eee6;
  font-weight: bold;
  width: auto;
}
.reservas .formulario input[type=submit]:hover {
  transform: scale(1.05);
  transition: 40ms;
}

footer {
  margin-top: auto;
  /* Whatsapp */
  /* FOOTER */
}
footer .icon-whatsapp img {
  width: 3.5rem;
  position: fixed;
  bottom: 4.8rem;
  right: 2rem;
}
@media screen and (max-width: 1126px) {
  footer .icon-whatsapp img {
    width: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  footer .icon-whatsapp img {
    width: 2rem;
  }
}
footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  background-color: #5c754e;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem 1.2rem;
}
@media screen and (max-width: 1126px) {
  footer .footer-container {
    display: flex;
  }
}
footer .footer-container .footer-info {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
  width: 100%;
}
@media screen and (max-width: 1126px) {
  footer .footer-container .footer-info {
    font-size: 0.6rem;
    display: block;
    width: 100%;
  }
}
footer .footer-container .footer-redes {
  display: flex;
}
footer .footer-container .footer-redes a {
  color: #f0eee6;
  font-size: 2rem;
  margin: auto 20px;
}
@media screen and (max-width: 1126px) {
  footer .footer-container .footer-redes a {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
