@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;0,600;0,700;0,800;1,200;1,400&family=PT+Sans:ital@0;1&family=Ysabeau+SC:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #363633;
}

ul {
  list-style: none;
}

/* HEADER */
.header-container {
  background-color: white;
  position: sticky;
  top: 0;
  padding: 1.5rem 5rem 0.5rem 5rem;
  z-index: 100;
}

.header-desk {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header {
  display: flex;
  justify-content: space-between;
}

#logo {
  font-family: "Ysabeau SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  text-align: center;
  color: #363633;
}

#logo img {
  width: 14rem;
}

#logo p {
  margin: 0;
}

header li a {
  text-decoration: none;
  color: #363633;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.6rem;
}

#btn-reservas {
  color: #f0eee6;
  background-color: #5c754e;
  padding: 8px 16px;
  border-radius: 4px;
}

#side-menu {
  display: none;
}

/* END HEADER */

/*  MAIN PAGES SHARED*/

.titulo-seccion {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #c0b27e;
  color: #f8f8f6;
  text-align: center;
  padding: 0.9rem 0;
}

/* END MAIN PAGES SHARED */

/* MAIN HOME */

main {
  text-align: center;
}

main video {
  width: 80dvw;
}

.presentacion-text {
  font-size: 1.5rem;
  margin: 0 5rem 1.5rem 5rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #363633;
}

/* END MAIN HOME */

/* HABITACIONES */

.contenido-habitacion {
  margin: 20px;
}

#habitaciones img {
  width: 700px;
  height: 394px;
}

.cant-pers-habitacion {
  font-size: 1;
}

.detalle-habitacion {
  font-size: 1.2rem;
}

/* END HABITACIONES */

/* ACTIVIDADES */

.subtitulo-actividades {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #363633;
  color: #f8f8f6;
  text-align: center;
  font-size: 1.25rem;
  padding: 10px 0;
  margin: auto 30px;
}

.card-actividad {
  margin-bottom: 20px;
}

.card-actividad article {
  text-align: center;
  font-size: 1.25rem;
  margin: 0 30px;
}

.detalle-actividad {
  margin: 0;
}

/* END ACTIVIDADES */

/* UBICACION */

.ubicacion {
  text-align: center;
}

.ubicacion p {
  margin: 0.2rem 8rem 1rem 8rem;
}

.ubicacion iframe {
  width: 700px;
  height:450px;
}

#coordenadas {
  font-size: 1rem;
}

.ubicacion h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.detalle-ubicacion {
  font-size: 1.25rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}


/* END UBICACION */

/* RESERVAS */


.reservas {
  text-align: left;
  margin: 1.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "info-contacto formulario formulario"
  "info-contacto formulario formulario"
  "info-contacto formulario formulario";
  justify-items: stretch;
}

.info-contacto{
  grid-area: info-contacto;
}

.info-contacto li h3 {
  margin-top: 2rem;
}

.info-contacto p {
  margin: 0.7rem;
}

#icon-whatsapp {
  font-size: 3rem;
}

#redes {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

#redes li {
    padding: 1rem;
}

#redes a {
  color: #363633;
}

.formulario {
  grid-area: formulario;
}

#reservas article {
  margin: 0 2.7rem;
}

form > *{
  display: flex;
  width: 80%;
  align-items: baseline;
  outline: none;
}

label{
  font-size: 1.15rem;
  margin-bottom: 0.35rem;
}

input, textarea {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.reserva label {
 margin: 0;
 padding: 0 5px 0 10px;
}

textarea {
  height: 9rem;
}

::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

input[type="submit"]{
  background-color:#363633;
  color:#f0eee6;
  font-weight: bold;
  width: auto;
}

/* END RESERVAS */

/* Whatsapp */

.icon-whatsapp img {
  width: 3.5rem;
  position: fixed;
  bottom: 4.5rem;
  right: 2rem;
}

/* FOOTER */

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  background-color: #6c8a5b;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem 1.2rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-redes {
  display: flex;
}

.footer-redes a {
  color: #f0eee6;
  font-size: 2rem;
  margin: auto 20px;
}

/* END FOOTER */

/* Media Query TABLET */
@media screen and (max-width: 1126px) {
  /* HEADER */

  main .ubicacion {
    margin-bottom: 53px;
  }
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2.5rem;
    }

    .header-desk{
      display: block;
    }
  
    nav {
      width: 100%;
    }
  
    .menu-header {
      display: none;
    }
  
    .menu-btn {
      width: 3rem;
      height: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  
    .menu-btn span {
      width: 3rem;
      height: 3px;
      background-color: #363633;
    }
  
    #side-menu {
      width: 100%;
      height: 100%;
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      display: none;
    }
  
    #side-menu:target {
      display: block;
      z-index: 50;
    }
  
    #side-menu header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2.5rem 0 2.5rem;
    }
  
    #side-menu ul {
      list-style: none;
      margin: 0;
      padding: 4rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
      
    #side-menu a {
      color: #363633;
      text-decoration: none;
      font-size: 1.5rem;
    }

    #side-menu #btn-reservas {
      color: #f0eee6;
    }
  
    #side-menu li {
      margin: 1rem 0;
    }
/* MAIN SHARED Tablet-Mobile */

    .titulo-seccion {
      padding: 0.5rem 0;
      font-size: 1.5rem;
    }


/* MAIN HOME Tablet*/
  
    main video {
      width: 90dvw;
  }
    .presentacion-text {
      font-size: 1.3rem;
      margin: 0.5rem 3rem;
    }

/* MAIN UBICACION Tablet*/
.ubicacion p {
  margin: 0.2rem 5rem 1rem 5rem;
  /* font-size: 0.8rem; */
}

.ubicacion iframe {
  width: 600px;
  height:300px;
}

#coordenadas {
  font-size: 0.8rem;
}

.detalle-ubicacion {
  font-size: 1.1rem;
}

.ubicacion h3 {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.distancias {
  font-size: 1rem;
}

/* RESERVAS Tablet*/

.reservas {
  text-align: center;
  margin: 0;
  display: block;
}

.reservas h2 {
  font-size: 1.2rem;
  margin: 1.2rem;
}

.info-contacto li h3 {
  display: none;
  font-size: 1rem;
}

.info-contacto p {
  margin: 0.7rem;
}

#horarios {
  display: none;
}

#redes {
  display: none;
}

form > *{
  width: 100%;
}

.formulario{
margin: 0 5rem;
}

label{
  font-size: 1.15rem;
  margin-bottom: 0.35rem;
}

input, textarea {
  padding: 0.8rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.reserva label {
 padding: 0 0.4rem 0 0.9rem;
 font-size: 1.15rem;
}

textarea {
  height: 7rem;
}

/* FOOTER Tablet*/
    .icon-whatsapp img {
      width: 2.5rem;
    }
  
    .footer-container {
      position: fixed;
      bottom: 0;
      display: flex;
    }
  
    .footer-info {
      font-size: 0.6rem;
      display: block;
      width: 100%;
    }
  
    .footer-redes a {
      font-size: 1.3rem;
    }
  }


@media screen and (max-width: 768px) {
body {
  height: 100dvh;
}

/* HEADER Mobile */

  #logo {
    font-size: 1.1rem;
  }

  #logo img {
    width: 9rem;
  }

#side-menu a {
    color: #363633;
    text-decoration: none;
    font-size: 1.3rem;
  }

  /* MAIN SHARED Mobile */

  .titulo-seccion {
    padding: 0.4rem 0;
    font-size: 1.3rem;
  }

 /* MAIN HOME Mobile */
  main video {
    width: 100dvw;
 }
 
  .presentacion-text {
    font-size: 1rem;
  }

  /* MAIN UBICACION Mobile */
  
  .ubicacion p {
    margin: 0.2rem 2rem 1rem 2rem;
  }
  
  .ubicacion iframe {
    width: 320px;
    height:200px;
  }
  
  #coordenadas {
    font-size: 0.55rem;
  }
  
  .detalle-ubicacion {
    font-size: 0.9rem;
  }

  .ubicacion h3 {
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    font-size: 1rem;
  }

  .distancias {
    font-size: 0.8rem;
  }

    /* MAIN RESERVAS Mobile */
  
  .reservas h2 {
    font-size: 1rem;
    margin: 0.8rem;
  }
  
  .info-contacto p {
    margin: 0.6rem;
  }
  
  .formulario{
  margin: 0 1rem;
  }
  
  label{
    font-size: 0.8rem;
  }
  
  input, textarea {
    padding: 0.6rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .reserva label {
   padding: 0 0.4rem 0 0.9rem;
   font-size: 1.15rem;
  }
  
  /* FOOTER Mobile */

  .icon-whatsapp img {
    width: 25px;
  }

}
