#parallax-image {
  background-image: url(/assets/img/bg-image.jpg);
  height: 40rem;
  margin-bottom: 5rem;
  background-attachment: fixed;
  background-position: 65% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  p {
    font-family: $tipografia-secundaria;
    color: $color-letter-seccions;
    text-shadow: 1px 1px 1px $color-dark;
    font-size: 2.5rem;
    font-style: italic;
    @include tablet {
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.5rem;
    }
  }
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.texto-home-hab-act {
  @include tablet {
    font-size: 1.2rem;
  }
  @include mobile {
    font-size: 0.9rem;
  }
}

.carousel-item {
  img {
    max-height: 400px;
    width: auto;
  }
}

#parallax-image2 {
  background-image: linear-gradient(
      to bottom,
      rgba(111, 146, 118, 0.274),
      rgba(73, 100, 79, 0.384)
    ),
    url("/assets/img/image-bg2.jpg");
  height: 20rem;
  margin-bottom: 5rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  p {
    font-family: $tipografia-secundaria;
    color: $color-letter-seccions;
    text-shadow: 1px 1px 1px $color-dark;
    font-size: 2rem;
    font-style: italic;
    @include tablet {
      font-size: 1.8rem;
    }
    @include mobile {
      font-size: 1.3rem;
  }
}
}

.lander-page-2bg {
  margin: 2rem 0;
}
