@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;0,600;0,700;0,800;1,200;1,400&family=PT+Sans:ital@0;1&family=Ysabeau+SC:wght@600&display=swap");

html {
  height: 100%;
}

body {
  font-family: $tipografia-general;
  font-weight: 400;
  font-style: normal;
  color: $color-dark;
  @include flex(column, inherit, inherit, inherit);
  min-height: 100%;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.titulo-seccion {
  font-family: $tipografia-secundaria;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $color-back-seccions;
  color: $color-letter-seccions;
  text-align: center;
  padding: 0.9rem 0;
  @include tablet {
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }
  @include mobile {
    padding: 0.4rem 0;
    font-size: 1.3rem;
  }
}
