// TIPOGRAFIA
$tipografia-general: "PT Sans", sans-serif;
$tipografia-logo: "Ysabeau SC", sans-serif;
$tipografia-secundaria: "Barlow", sans-serif;

// PALETA DE COLORES
$color-light: #f0eee6;
$color-green: #5c754e;
$color-dark: #363633;
// Título secciones
$color-back-seccions: #c0b27e;
$color-letter-seccions: #f8f8f6;
