footer {
  margin-top: auto;
  /* Whatsapp */

  .icon-whatsapp img {
    width: 3.2rem;
    position: fixed;
    bottom: 5.5rem;
    right: 3.5rem;
    @include tablet {
      width: 2.5rem;
    }
    @include mobile {
      width: 2rem;
    }
  }

  /* FOOTER */

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    background-color: $color-green;
    justify-content: space-between;
    width: 100%;
    padding: 0.8rem 1.2rem;
    @include tablet {
      display: flex;
    }
    .footer-info {
      @include flex(column, inherit, inherit, inherit);
      width: 100%;
      @include tablet {
        font-size: 0.6rem;
        display: block;
        width: 100%;
      }
    }
    .footer-redes {
      display: flex;
      a {
        color: $color-light;
        font-size: 2rem;
        margin: auto 20px;
        @include tablet {
          font-size: 1.3rem;
        }
      }
    }
  }
}
